.side {
  width: 20%;
  max-width: 250px;
  min-width: 150px;
  height: 100%;
  text-align: center;
  background-color: rgb(208, 251, 208);

  .farm-names {
    width: 90%;
    height: 30px;
    font-weight: bolder;
    font-size: 20px;
    font-family: "ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro";
  }

  .side-names {
    width: 90%;
    height: 90%;
    margin: 10px auto;

    .side-name {
      width: 100%;
      margin-bottom: 20px;
      font-size: 20px;
      list-style: none;

      .side-farm-name {
        text-decoration: none;
      }
    }
  }
}
