.side {
  width: 20%;
  max-width: 250px;
  min-width: 200px;
  height: 100%;
  background-color: seashell;

  .side-names {
    width: 90%;
    height: 100%;
    margin: 20px auto;

    .side-name {
      width: 100%;
      margin-bottom: 20px;
      font-size: 20px;
      list-style: none;

      .side-farm-name {
        text-decoration: none;
      }
    }
  }
}
