.store-show-main {
  width: 90%;
  height: 100%;
  background-image: url("https://i.gyazo.com/917da6e49e9f1ef8956daef752855d99.jpg");
  background-size: cover;
}

.store-show-main .store-show-box {
  width: 80%;
  max-width: 800px;
  min-width: 50%;
  height: 95%;
  margin: 20px auto;
  border: 3px solid black;
  border-radius: 10px;
  overflow: auto;
}

.store-show-main .store-show-status-box {
  width: 100%;
  height: 40%;
  border-bottom: 3px solid black;
  background-color: rgba(255, 235, 205, 0.8);
}

.store-show-main .store-show-status-box .store-status {
  width: 100%;
  height: 100%;
}

.store-show-main .store-show-status-box .store-status .store-nickname {
  height: 20%;
  text-align: center;
}

.store-show-main .store-show-status-box .store-status .store-email {
  height: 20%;
  text-align: center;
}

.store-show-main .store-show-status-box .store-status .store-select-btn-container {
  width: 20%;
  height: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}

.store-show-main .store-show-status-box .store-status .store-select-btn-container .store-edit-btn {
  height: 20%;
  text-align: center;
}

.store-show-main .store-show-status-box .store-status .store-select-btn-container .store-delete-btn {
  height: 20%;
  text-align: center;
}

.store-show-main .store-show {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 235, 205, 0.8);
}

.store-show-main .store-show .main-title {
  height: 5%;
  text-align: center;
}

.store-show-main .store-show .store-item-lists {
  width: 90%;
  height: 90%;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
}

.store-show-main .store-show .store-item-lists .store-item-list {
  width: calc(100% / 4);
  height: 40%;
  margin: 20px 20px;
  border: 2px solid black;
  border-radius: 10px;
  list-style: none;
}

.store-show-main .store-show .store-item-lists .store-item-list .item-img-content {
  width: 100%;
  height: 60%;
}

.store-show-main .store-show .store-item-lists .store-item-list .item-img-content .item-images {
  width: 100%;
  height: 100%;
  border-radius: 8px 8px 0 0;
}

.store-show-main .store-show .store-item-lists .store-item-list .item-info {
  width: 100%;
  height: 40%;
  border-top: 1px solid black;
}

.store-show-main .store-show .store-item-lists .store-item-list .item-info .item-name {
  width: 100%;
  height: calc(100% / 3);
}

.store-show-main .store-show .store-item-lists .store-item-list .item-info .item-price {
  width: 100%;
  height: calc(100% / 1.5);
}
