.side {
  width: 20%;
  height: 100%;
  background-color: aquamarine;

  .side-names {
    width: 90%;
    height: 100%;
    margin: 0 auto;

    .side-name {
      width: 100%;
      margin-bottom: 10px;
      font-size: 18px;

      .side-farm-name {
        text-decoration: none;
      }
    }
  }
}
