// Place all the styles related to the likes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@media screen and (min-width: 717px) {

  .like-link {
    text-decoration: none;
  }

  .like-btn {
    font-size: 1em;
    color: #3009df;
    text-align: center;
  }

  .unlike-btn {
    font-size: 1em;
    color: #e54747;
    text-align: center;
  }
}
@media screen and (max-width: 716px) {
  .like-link {
    text-decoration: none;
  }

  .like-btn {
    font-size: 1em;
    color: #3009df;
    text-align: center;
  }

  .unlike-btn {
    font-size: 1em;
    color: #e54747;
    text-align: center;
  }
}