.store-show {
  width: 90%;
  max-width: 800px;
  min-width: 700px;
  height: 95%;
  margin: 20px auto 20px;
  border: 3px solid black;
  border-radius: 10px;
  overflow: auto;
  background-color: blanchedalmond;
}

.store-show .main-title {
  height: 5%;
  text-align: center;
}

.store-show .store-item-lists {
  width: 90%;
  height: 90%;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
}

.store-show .store-item-lists .store-item-list {
  width: calc(100% / 4);
  height: 40%;
  margin: 20px 20px;
  border: 2px solid black;
  border-radius: 10px;
  list-style: none;
}

.store-show .store-item-lists .store-item-list .item-img-content {
  width: 100%;
  height: 60%;
}

.store-show .store-item-lists .store-item-list .item-info {
  width: 100%;
  height: 40%;
  border-top: 1px solid black;
}

.store-show .store-item-lists .store-item-list .item-info .item-name {
  width: 100%;
  height: calc(100% / 3);
}

.store-show .store-item-lists .store-item-list .item-info .item-price {
  width: 100%;
  height: calc(100% / 1.5);
}
